@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap";

.ra-footer {
  --footer-text-color: light-dark(var(--secondary), var(--primary));
  --social-icon-size: 1.5rem;
  width: 100%;
  font-family: "Open Sans", "Open Sans Fallback", sans-serif;
  background-color: var(--primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0.5rem;

  @media (width >= 768px) {
    padding: 2rem 1rem;
  }

  @media (width >= 1280px) {
    padding: 2rem 0;
  }

  &.--has-bg {
    background-color: transparent;
  }

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.ra-footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width <= 1023px) {
    gap: 1.5rem;
  }

  @media (width >= 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}

.ra-footer__left,
.ra-footer__right {
  display: flex;
  flex-direction: column;
}

.ra-footer__logo-link {
  width: 4rem;
  display: inline-block;
}

.ra-footer__logo {
  width: 100%;
  height: auto;
}

.ra-footer__nav,
.ra-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ra-footer__nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  margin: 1.25rem 0;
  font-size: 1rem;
}

.ra-footer__nav-link,
.ra-footer__copyright,
.ra-footer__contact,
.ra-footer__contact a,
.ra-footer__social-link {
  color: var(--footer-text-color);
}

.ra-footer__nav-link,
.ra-footer__social-link {
  &:hover {
    color: var(--footer-text-color);
  }
}

.ra-footer__copyright,
.ra-footer__contact {
  margin: 0;
  font-size: 0.875rem;
}

.ra-footer__right {
  align-items: flex-start;
  row-gap: 1rem;

  @media (width >= 1024px) {
    align-items: flex-end;
    margin-top: 4rem;
  }
}

.ra-footer__social {
  display: flex;
  column-gap: 1.5rem;
}

.ra-footer__social-link {
  display: inline-flex;
  padding: 0.25rem;
  transition: color 0.15s ease;

  svg {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
  }
}

.ra-footer__social-icon {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
  filter: brightness(0) invert(1);
}

.ra-footer__nav-link,
.ra-footer__social-link {
  color: var(--footer-text-color);

  &:visited {
    color: var(--footer-text-color);
  }

  &:hover {
    color: var(--footer-text-color);
  }
}

[class^="experimental-screen__"] {
  display: none;
}

#main-outlet {
  min-height: 85vh;
}
